

<!-- navbar -->
<nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
    <div class = "container">
        <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "index.html">
            <img src = "images/shopping-bag-icon.png" alt = "site icon">
            <span class = "text-uppercase fw-lighter ms-2">Attire</span>
        </a>

        <div class = "order-lg-2 nav-btns">
            <form class="d-flex">
                <a type="submit" class="btn btn-outline-dark" href="{% url 'summary' %}">
                <i class="bi-cart-fill me-1"></i>
                <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
          
        </div>
           
        <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
            <ul class = "navbar-nav mx-auto text-center">
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" href = "{% url 'home' %}">home</a>
                </li>
                {% if user.is_authenticated %}
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" href = "{% url 'update_user' %}">profile</a>
                </li>
                {% else %}

                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" href = "{% url 'login' %}">login</a>
                </li>
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" href = "{% url 'signup' %}">signup</a>
                </li>
                {% endif %}
                <li class = "nav-item px-2 py-2">
                    <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
                </li>
                <li class = "nav-item px-2 py-2 border-0">
                    <a class = "nav-link text-uppercase text-dark" href = "#popular">popular</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="{% url 'search' %}" class="nav-link text-uppercase text-dark">
                        <i class="bi bi-search"></i>
                    </a>        
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of navbar -->

<br><br><br><br>