.cart-row{
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid ;
}
.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 200px;
}
.form-field{
    width: 250px;
    display: inline-block;
    padding: 5px;
}
.arrow{
    width: 30px;
    cursor: pointer;
    display: block;
}
#btn-con{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}