{% extends 'base.html' %}
{% load static %}
{% block content %}



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">cart </h1>
            <p class="lead fw-normal text-white-50 mb-0">cart shop</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    {% for product in cart_products %}
    <div class="card mb-3 ">
        <div class="row b-5">
            <div class="col-md-4 " >
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <center>
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <br>
                <p class="card-text justified">{{product.description}}</p>
                {% if product.is_sale %}
                <p class="card-text"><small class="text-body-secondary"><h3>Price</h3>$<strike>{{product.price}}</strike><h4>{{product.sale_price}}</h4></small></p>
                
                {% else %}
                <p>{{product.price}}</p>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-md-2">العدد</div>
                    <div class="col-md-2">
                        <select class="form-select mb-4"  aria-label="Default select example"
                        id="select{{product.id}}">
                        {% for key, value in quantites.items %}
                            {% if key == product.id|slugify %}
                               <option selected> {{ value }} </option> 
                            {% endif %}
                        {% endfor %}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                    </div>
                </div>
                <a href="{% url 'home' %}" class="btn btn-secondary mb-4"> الرئيسية </a>
                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart mb-4" >
                    تحديث
                </button>
                <button type="button" data-index="{{product.id}}" class="btn btn-danger delet-product mb-4" >
                    حذف
                </button>

                </div>
                </center>
            </div>
        </div>
      </div>
      {% endfor %}
</div>

     
     
<script>
    // update selected item
    $(document).on('click','.update-cart',function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "{% url 'update_cart' %}",  
            data:{
                product_id:$(this).data('index'),
                product_qty:$('#select' + productid +' option:selected').text(),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post',
            },
            success: function(json){
                //console.log(json)
                document.getElementById('cart_quantity').
                    textContent = json.qty
            },
            error:function(xhr, errmsg, err){
                
            }
         });
    });
    // delet cart 
    $(document).on('click','.delet-product',function(e){
        e.preventDefault();
        //var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "{% url 'delete_cart' %}",  
            data:{
                product_id:$(this).data('index'),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post',
            },
            success: function(json){
                //console.log(json)
               // document.getElementById('cart_quantity').
                    location.reload();
            },
            error:function(xhr, errmsg, err){
                
            }
         });
    });
</script>

{% endblock %}
