{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for messages in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}

<header class="bg-dark py-5" style="background-image:url('{% static 'image/packground.png' %}')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">سلة التسوق </h1>
            <p class="lead fw-normal text-white-50 mb-0">سلة المنتوجات التي قمت بإختيارها </p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    {% for product in cart_products %}
    <div class="card m-2 ">
        <div class="row b-5">
            <div class="col-md-3 m-4 " >
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="..." width="120px" height="120px">
            </div>
            <div class="col-md-2 mt-4">
                <h4>الاسم</h4>
                <h6 class="card-title">{{product.name}}</h6>
            </div>
            <div class="col-md-2 mt-4">
                <h4>سعر</h4>
                {% if product.is_sale %}
                <p class="card-text"><small class="text-body-secondary"><h3>Price</h3>$<strike>{{product.price}}</strike><h4>{{product.sale_price}}</h4></small></p>
                
                {% else %}
                <p>{{product.price}}</p>
                {% endif %}
            </div>
            <div class="col-md-2 mt-4">
            
                <h4>العدد</h4>
                <div class="col-md-4">
                    <select class="form-select mb-4"  aria-label="Default select example"
                    id="select{{product.id}}">
                    {% for key, value in quantites.items %}
                        {% if key == product.id|slugify %}
                            <option selected> {{ value }} </option> 
                        {% endif %}
                    {% endfor %}
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        </select>
                </div>
            </div>
            <center>
            <div class="col-md-6 m-4">  
                <a href="{% url 'home' %}" class="btn btn-secondary m-4"> الرئيسية </a>
                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart m-4" >
                    تحديث
                </button>
                <button type="button" data-index="{{product.id}}" class="btn btn-danger delet-product m-4" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                      </svg>
                </button>
            </div>
            </center>
        </div>
    </div>
      {% endfor %}
      <div>

      </div>
      <br><br>
      <center>
      <div>
        <h3>
           <h3>المجموع<br>{{totales}}$</h3> 
        </h3>
        <br>
        <a href="{% url 'checkout' %}" class="btn btn-success"><i class="bi bi-eye-fill"></i></a>
      </div>
      </center>
      <br><br>
      
</div>

     
     
<script>
    // update selected item
    $(document).on('click','.update-cart',function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "{% url 'update_cart' %}",  
            data:{
        product_id:$(this).data('index'),
        product_qty:$('#select' + productid +' option:selected').text(),
        csrfmiddlewaretoken:'{{csrf_token}}',
        action:'post',
            },
            success: function(json){
                //console.log(json)
               // document.getElementById('cart_quantity').
                   // textContent = json.qty
                   location.reload()
            },
            error:function(xhr, errmsg, err){
            }
         });
    });
    // delet cart 
    $(document).on('click','.delet-product',function(e){
        e.preventDefault();
        //var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: "{% url 'delete_cart' %}",  
            data:{
                product_id:$(this).data('index'),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post',
            },
            success: function(json){
                //console.log(json)
               // document.getElementById('cart_quantity').f
                    location.reload();
            },
            error:function(xhr, errmsg, err){
                
            }
         });
    });
</script>

{% endblock %}
