{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <br>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nisi massa, consequat a sem quis, ullamcorper consectetur odio. Nunc eget varius mi. Nam quis aliquet augue. Morbi venenatis, mi ut fringilla rutrum, urna tortor blandit urna, a aliquam dolor est non ex. Proin semper enim ut elit commodo commodo. Etiam convallis ipsum in urna eleifend imperdiet. Sed vulputate sem quis risus pretium pretium. Sed efficitur leo non lacinia ultricies. Vivamus a porta lacus. Proin eget varius arcu. Quisque elementum lectus in rhoncus vulputate. Phasellus efficitur lobortis ligula et eleifend. Sed finibus dapibus orci, id dapibus nisl aliquam eu. Suspendisse lobortis at est vel aliquet. Nunc ac tellus eros.
                    <br>
                    <br>

                    Aliquam dolor arcu, convallis in dui id, mollis vehicula neque. Pellentesque et urna iaculis, rutrum sapien vitae, auctor risus. Duis eu ultrices magna. Pellentesque felis sem, vehicula auctor lobortis et, facilisis sit amet enim. Aenean porta dolor arcu, non laoreet velit pharetra ut. Sed mattis dui nec ante tincidunt finibus. Nunc tristique pellentesque metus, at tempus justo molestie sit amet. Mauris pretium nisi et diam sollicitudin, nec luctus nunc aliquet. Nulla sodales aliquam lobortis.
                    <br>
                    <br>
                    Proin commodo velit dui, at hendrerit nibh sodales in. Morbi pulvinar lacus sed lectus tincidunt, et imperdiet justo bibendum. Etiam mattis nisi a auctor lobortis. Nulla facilisi. Sed imperdiet vehicula cursus. In hac habitasse platea dictumst. Nam sed pharetra velit. Maecenas finibus tristique lorem, at fermentum mauris porttitor ac. Phasellus lobortis nunc id neque feugiat suscipit. Proin venenatis enim et nunc placerat suscipit. Fusce a accumsan nunc, quis auctor mi.
                    <br>
                    <br>
                    Vivamus risus ante, ultricies ut ipsum sit amet, tempor tincidunt ex. Morbi eleifend odio id enim consectetur dignissim. Etiam egestas lacinia cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut finibus tempor mauris, sit amet blandit nisl faucibus vel. Cras venenatis vehicula rhoncus. Pellentesque sit amet viverra quam. Nam volutpat metus nulla, non venenatis odio mollis sed. Duis scelerisque ligula a aliquam pharetra. Sed nec odio arcu. Fusce lacinia libero sit amet felis sagittis volutpat. Aenean facilisis dignissim quam non pulvinar.
                </p>

            </div>
        </center>
    </div>
</div>

{% endblock %}