{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">عرض جميع الفئات</h1>
            <p class="lead fw-normal text-white-50 mb-0">إختار فئة منتوج الذي تريد شرائة</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            {% for category in all_category %}
            <h1>
                <a href="{% url 'category' category %}">{{category}}</a>
            </h1>
           {% endfor %}
        </center>

      
    </div>
</div>

{% endblock %}