{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Login Your Account</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<br>
<br>
<div class="container">
    <div class="row">
        <center>
            <H2>تسجيل الدخول</H2>
            <div class="col-8">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div >
                      <input type="text"  name="username" class="form-control" placeholder="أدخل إسم مستخدم">
                    </div>
                    <br>
                    <div >
                      <input type="password" name="password" class="form-control" placeholder="  أدخل كلمة مرور">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                    <button type="submit" class="btn btn-primary">تسجيل دخول</button>
                  </form>
            </div>
        </center>
    </div>
</div>



{% endblock %}