{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for messages in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}

<div class="container mt-4">
    <div class="card mb-3 ">
        <div class="row b-5">
            <div class="col-md-4 " >
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <center>
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <br>
                <p class="card-text justified">{{product.description}}</p>
                {% if product.is_sale %}
                <p class="card-text"><small class="text-body-secondary"><h3></h3>$<strike>{{product.price}}</strike><h4>${{product.sale_price}}</h4></small></p>
                
                {% else %}
                <p><strike>$</strike> {{product.price}}</p>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-md-2">العدد</div>
                    <div class="col-md-2">
                        <select class="form-select mb-4"  aria-label="Default select example"
                        id="qty-cart">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <a href="{% url 'home' %}" class="btn btn-secondary "> الرئيسية </a>
                <button class="btn btn-secondary " value="{{product.id}}" id="add-cart">إضافة الى السلة</button>
                </center>
                </div>

            </div>
        </div>
      </div>
</div>

<script>
// check if button prassed
$(document).on('click', '#add-cart',function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'cart_add' %}" ,   
        data:{
            product_id:$('#add-cart').val(),
            product_qty:$('#qty-cart option:selected').text(),
            csrfmiddlewaretoken:'{{csrf_token}}',
            action:'post',
        },  
        success: function(json){
            //console.log(json)
            document.getElementById('cart_quantity').
                textContent = json.qty
            location.reload();
            
        },
        error:function(xhr, errmsg, err){
            
        }
        });
});
</script> 

{% endblock %}