{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-4">
    <div class="card mb-3 ">
        <div class="row b-5">
            <div class="col-md-4 " >
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <center>
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <br>
                <p class="card-text justified">{{product.description}}</p>
                {% if product.is_sale %}
                <p class="card-text"><small class="text-body-secondary"><h3>Price</h3>$<strike>{{product.price}}</strike><h4>{{product.sale_price}}</h4></small></p>
                
                {% else %}
                <p>{{product.price}}</p>
                {{product.id}}
                {% endif %}
                </div>
                
                <a href="{% url 'home' %}" class="btn btn-secondary mb-4"> Home </a>
                <button class="btn btn-secondary mb-4" value="{{product.id}}" id="add-cart">Add To Cart</button>
                </center>
            </div>
        </div>
      </div>
</div>

<script>
    // check if button prassed
    $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",  
            data:{
                product_id:$('#add-cart').val(),
                csrfmiddlewaretoken:'{{csrf_token}}',
                action:'post',
            },  
            success: function(json){
                console.log(json)
            },
            error:function(xhr, errmsg, err){
                
            }
         });
    });
</script>

{% endblock %}