
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

{% if messages %}
{% for messages in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% endif %}
<br>

    <div class="row"> 
        <div class="col-md-6 offset-md-3 ">
            <div class="border p-4 mb-4 bg-dark">
                <center>
                <h2>ملف الشخصي</h2>
                </center>
                <form method="POST" action="{% url 'update_user' %}">
                    
                    {% csrf_token %}

                    {{ update_form.as_p }}
                    <br><br>
                    <center>
                    <button type="submit" class="btn btn-primary">تعديل </button>
                    </center>
                    <br><br>
                 
                </form>
                <center>
                    <a href="{% url 'update_password' %}" class="btn btn-secondary">تعديل كلمة السر</a>
                </center>
            </div>
            <div class="border p-4 mb-4 bg-dark" >
                <form method="POST" action="{% url 'update_user' %}">
                    
                    {% csrf_token %}
                    <center><h2>معلومات الشحن</h2></center> 
                    <br><br>
                    {{shipping_form.as_p}}
                    
                    <br><br>
                    <center>
                    <button type="submit" class="btn btn-primary">تعديل أوإضافة بيانات توصيل عند شراء  </button>
                    </center>

                 
                 
                </form>
            </div>

                
        </div>
       
    </div>
</div>




{% endblock %}