{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">  إرسال فاتورة الشراء  </h1>
            <p class="lead fw-normal text-white-50 mb-0"> طلب منتجات و إرسال فاتورة الشراء و معلومات الشحن </p>
        </div>
    </div>
</header>
{% if messages %}
{% for messages in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}

<br>
<br>
<div class="container">
    <div class="row">
           <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <center>
                            <h3>ملخص الطلب</h3>
                        </center>
                    </div>
                    <div class="card-body">
                        <center>
                        <h3>منتجات تم إختيارها</h3>
                        {% for stuff_product in cart_products %}
                            {{ stuff_product.name}}
                            
                            {% if stuff_product.is_sale %}
                                {{stuff_product.sale_price}}$
                            {% else %}
                                {{ stuff_product.price}}$
                            {% endif %}

                            <br>
                            <small>العدد
                            {% for key,value in cart_quantity.items %}
                                {% if key ==  stuff_product.id|slugify%}
                                    {{value}}
                                {% endif %}
                            {% endfor %}
                            </small>
                            <br>
                        {% endfor %}

                        <strong>مجموع السعر
                        ${{cart_total}}
                        </strong>
                        <br><br>
                        <a href="{% url 'summary' %}" class="btn btn-outline-secondary">تحديث</a>

                        </center>
                    </div>
                </div>
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                      <center><strong>معلومات الشحن</strong></center>
                    </div>
                    <div class="card-body">
                      
                      Full Name:   {{ shipping_info.shipping_full_name }}<br>
                      Email    :   {{ shipping_info.shipping_email}}<br>
                      Address1 :   {{ shipping_info.shipping_address1 }}<br>
                      Address2 :   {{ shipping_info.shipping_address2 }}<br>
                      City     :   {{ shipping_info.shipping_city }}<br>
                      State    :   {{ shipping_info.shipping_state }}<br>
                      Zipcode  :   {{ shipping_info.shipping_zipcode }}<br>
                      Country  :   {{ shipping_info.shipping_country}}<br>
                      <br><br>
                      <center> <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">تعديل بيانات من جديد</a></center>
                        
                    </div>
                </div>      
                <br><br>
                <div class="card">
                    <div class="card-header">
                      <center><strong>معلومات البطاقة</strong></center>
                    </div>
                    <div class="card-body">
                        <form  method="POST" action="{% url 'process_order' %}">
                            {% csrf_token %}
                            {{billing_form.as_p}}
                        
                            <center><button type="submit" class="btn btn-outline-success" > معالجة الطلب</button></center>

                        </form>
                    </div>
                </div>                  
           </div>  
    </div>
</div>
<br><br><br>



{% endblock %}