{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> معلومات الدفع و التوصيل  </h1>
            <p class="lead fw-normal text-white-50 mb-0">   إضافة معلومات توصيل  و دفع</p>
        </div>
    </div>
</header>
{% if messages %}
{% for messages in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endfor %}
{% endif %}

<br>
<br>
<div class="container">
    <div class="row">
           
       
    </div>
</div>



{% endblock %}