{% extends 'base.html' %}

{% block content %}
<center>
<div class="container">
    <div class="row">
            <div class="col-8">
                <br><br><br>
                <div class="card text-center">
                    <div class="card-header">
                        {{order.full_name}}
                    </div>
                    <div class="card-body">
                        Email: {{order.email}}<br>

                        {% if order.shipped %}
                         تاريخ قبول الطلب {{order.date_shipped}}<br>
                         تاريخ ارسال الطلب{{order.date_order}}<br>
                        {% else %}
                        تاريخ ارسال الطلب{{order.date_order}}<br>
                        {% endif %}
                        <pre>
                         {{order.shipping_address}}
                        </pre>
                    </div>
                        {% for item in items %}
                        :{{item.product}}  -- {{item.price}} -- {{item.quantity}}</h5><br>
                        {% endfor %}
                        <br><br>
                        {% if not order.shipped %}
                        <form method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="shipped_status" value="true">
                           <button type="submit" class="btn btn-success">قبول الطلب </button>
   
                       </form>
                       {% else %}
                       <form method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="shipped_status" value="false">
                           <button type="submit" class="btn btn-danger"> رفض الطلب </button>
   
                       </form>
                       {% endif %}
                       <br><br>
                    </div>
      
                  </div>

            </div>
    </div>
</div>
</center>
<br><br><br><br><br>

{% endblock %}