{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for messages in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{messages}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
{% endif %}

<div class="container">
    <div class="row">
            <div class="col-12">
                <br><br><br>
              <center> <h2>الطلبات المقبولة</h2></center>
              <br>
                <table class="table table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">رقم الطلب</th>
                        <th scope="col"> إيمايل الزبون</th>
                        <th scope="col">سعر الطلب</th>
                        <th scope="col">تاريخ قبول الطلب</th>
                        <th scope="col">زر التحكم</th>
                      </tr>
                    </thead>
                   
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{% url 'orders' order.id %}">{{order.id}}</a></td>
                                <td>{{order.email}}</td>
                                <td>{{order.amount_paid}}</td>
                                <td>{{order.date_shipped}}</td>
                                <td>
                                  <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="shipped_status" value="false">
                                    <input type="hidden" name="num" value="{{order.id}}">
                                    <button type="submit" class="btn btn-danger"  >رفض الطلب</button>
        
                                  </form>
                                </td>
                            </tr>
                         {% endfor %}
                    </tbody>
                   
                  </table>

            </div>
    </div>
</div>
</center>

{% endblock %}